body {
	color: white;
	margin-top:80px ;
	/*text-align: center;*/
	background: #1C2D37;
}

button {
	color: black;
}

div {
	padding-top: 5px;
}

p {
	font-size: 20px;
}

/*input {
	align-self:  center;
}*/

h1 {
	font-weight: 600;
}

.size {
	font-size: 25px;
}

#rules {
	font-size: 30px;
}

.form-control {
	width: 400px;
	padding-bottom: 5px;
	display: inline-block;
	alignment-baseline: center; 
}

ol {
	/*text-indent: bottom;*/
	/*list-style: none;*/
	margin-left: : 0;
	/*text-align: bottom;*/
	/*vertical-align: bottom;*/
	font-size: 18px;
}

.winner {
	color: green;
}
